section {

    padding-top: 50px;
    display: block;
  
}

#about-me {

    width: 100%;
    background-color: #ffc7e2;

}

/* centering both containers of about me section */
#about-me div {

    margin: auto;
    text-align: center;

}

/* create space between hero image & about me first container */
/* #about-me-div1 {

    padding-top: 150px;

} */

/* create space between about me heading & image */
.beach {

    padding-top: 40px;

}

/* making image round & creating a box shadow underneath */
.beach {

    width: 300px;
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(30px 30px 60px rgba(0,0,0,.8));
    -webkit-filter: drop-shadow(30px 30px 60px rgba(0,0,0,.8));

}

/* image grows on hover */
.beach:hover {

    transform: scale(1.1);

}

/* style & spacing of paragraphs within sectond about me container */
#about-me-div2 {

    padding-top: 55px;
    color: #194f96;
    font-size: 20px;
    width: 80%;
    text-align: justify;
    padding-bottom: 100px;

}

.box-shadow {
    padding: 20px;
    box-shadow: 30px 20px 60px rgba(0,0,0,.8);
    border-radius: 9px;
}

.list {
    list-style-position: inside;
}

.award {
    list-style-type: '\2605';
}

.margin-top {
    margin-top: 50px;
}

.tech {
    padding: 15px;
    border-radius: 5px;
}

.tech:hover {
    background-color: lightgray;
    box-shadow: 5px 5px 40px rgba(0,0,0,.8);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.between {
    display: flex;
    /* justify-content: space-around; */
}

.transition {
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
}

.margin-left {
    margin-left: 40px;
}

.image {
    object-fit: contain;
    width: 80px;
    height: 80px;
}

.icon:hover {
    opacity: 1;
}

.padding-top {
    padding-top: 50px;
}

/* .black {
    color: black;
} */