section {

    padding-top: 50px;
    display: block;
}

#contact {

    background-color: #ffc7e2;
    color: #0c4107;
    width: 100%;
    height: auto;
}

/* style & spacing of contact heading */
#contact h1 {

    font-size: 48px;
    line-height: 50px;
    margin-left: 50px;
    flex: 1;
    padding-bottom: 40px;
    text-align: center;

}

.smallerContainer {
    width: 60%;
    margin: auto;
}

p {
    text-align: center;
    padding-bottom: 40px;
}

#contact a {
    color: #0c4107;
}

.center {
    text-align: center;
}

.padding-top {
    padding-top: 20px;
}

.margin-bottom {
    padding-bottom: 80px;
}