section {

    display: block;
}

#contact {

    background-color: #ffc7e2;
    color: #0c4107;
    width: 100%;
    height: auto;
    padding-top: 225px;
}

/* style & spacing of contact heading */
#contact h1 {

    font-size: 48px;
    line-height: 50px;
    margin-left: 50px;
    flex: 1;
    padding-bottom: 40px;
    text-align: center;

}

.smallerContainer {
    width: 60%;
    margin: auto;
}

p {
    text-align: center;
    padding-bottom: 40px;
}

#contact a {
    color: #0c4107;
}

.center {
    text-align: center;
}

.padding-top {
    padding-top: 40px;
}

.margin-bottom {
    padding-bottom: 80px;
}

@media screen and (max-width: 375px) {
    #contact {
        padding-top: 40px;
    }

    #contact h1 {
        margin-left: 0px;
    }
}