.footer {

    display: block;
    background-color: #0c4107;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.margin-left {
    margin-left: 40px;
}

.font-size {
    font-size: 38px;
    color: white;
    opacity: 0.6;
}

.font-size:hover {
    opacity: 1;
}